@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;800&display=swap");
.bg-port {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: initial;
  background-image: url(../img/bgcake.jpeg); }
  .bg-port .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgbs(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }

.ferlatti {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
  color: #fff; }
  .ferlatti h1 {
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    padding: 3rem;
    border-radius: 1.25rem 0; }
    .ferlatti h1 span {
      font-size: 1.5rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
      padding: 2rem; }
    .ferlatti h1::before, .ferlatti h1::after {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 50%; }
    .ferlatti h1::before {
      left: 0;
      border-bottom: 0.1875rem solid #FADEE1; }
    .ferlatti h1::after {
      right: 0;
      border-top: 0.1875rem solid #FADEE1; }

.main-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.0625rem;
  width: 100vw;
  padding: 0 3vw;
  color: #000;
  z-index: 1;
  transition: .4s ease-out; }
  .main-header .logo {
    font-weight: 800;
    font-size: 1.875rem;
    padding: auto; }
  .main-header a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase; }
  .main-header .nav-links {
    display: flex;
    list-style: none; }
    .main-header .nav-links .nav-link {
      transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      .main-header .nav-links .nav-link:nth-of-type(2) {
        transition-delay: .1s; }
      .main-header .nav-links .nav-link:nth-of-type(3) {
        transition-delay: .2s; }
      .main-header .nav-links .nav-link:nth-of-type(4) {
        transition-delay: .3s; }
      .main-header .nav-links .nav-link:nth-of-type(5) {
        transition-delay: .4s; }
      .main-header .nav-links .nav-link a {
        margin: 0.2rem;
        padding: 1rem .5rem; }
      .main-header .nav-links .nav-link a:hover {
        background: rgba(255, 255, 255, 0.2); }
  .main-header .menu-icon {
    position: relative;
    padding: 1.625rem 0.625rem;
    cursor: pointer;
    z-index: 1;
    display: none; }
    .main-header .menu-icon__line {
      display: block;
      position: relative;
      background: #000;
      height: 0.125rem;
      width: 1.25rem;
      border-radius: 0.25rem;
      transition: background .8s ease; }
      .main-header .menu-icon__line::before, .main-header .menu-icon__line::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 0.25rem;
        background: #000;
        transition: background .8s ease; }
      .main-header .menu-icon__line::before {
        transform: translateY(-0.3125rem); }
      .main-header .menu-icon__line::after {
        transform: translateY(0.3125rem); }
  .main-header .menu-btn {
    position: absolute;
    top: -6.25rem; }
    .main-header .menu-btn:focus ~ .menu-icon .menu-icon__line::before {
      transform: translateY(-0.4375rem); }
    .main-header .menu-btn:focus ~ .menu-icon .menu-icon__line::after {
      transform: translateY(0.4375rem); }
  .main-header.scrolled {
    height: 3.125rem;
    background: #FADEE1;
    color: #000; }
    .main-header.scrolled .menu-icon__line, .main-header.scrolled .menu-icon__line::before, .main-header.scrolled .menu-icon__line::after {
      background: #000; }

@media screen and (max-width: 47.9375rem) {
  .main-header .menu-icon {
    display: block; }
    .main-header .menu-icon__line {
      animation: closedMid 0.8s backwards;
      animation-direction: reverse; }
      .main-header .menu-icon__line::before {
        animation: closedTop 0.8s backwards;
        animation-direction: reverse; }
      .main-header .menu-icon__line::after {
        animation: closedBtn 0.8s backwards;
        animation-direction: reverse; }
  .main-header .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 1.2rem;
    color: #000;
    background: #FADEE1;
    transition: opacity .8s .5s, clip-path 1s .5s;
    clip-path: circle(200px at top right); }
    .main-header .nav-links .nav-link {
      opacity: 0;
      transform: translateX(100%);
      width: 100%;
      text-align: center; }
      .main-header .nav-links .nav-link a {
        display: block;
        padding: 2rem 0; }
  .main-header .menu-btn:checked ~ .nav-links {
    opacity: 1;
    clip-path: circle(100% at center); }
    .main-header .menu-btn:checked ~ .nav-links .nav-link {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(1) {
        transition-delay: .7s; }
      .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(2) {
        transition-delay: .8s; }
      .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(3) {
        transition-delay: .9s; }
      .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(4) {
        transition-delay: 1s; }
      .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(5) {
        transition-delay: 1.1s; }
  .main-header .menu-btn:checked ~ .menu-icon {
    border-radius: 50%;
    animation: pulse 1s; }
    .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line {
      background: #000;
      animation: openMid 0.8s forwards; }
      .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::before {
        background: #000;
        animation: openTop 0.8s forwards; }
      .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::after {
        background: #000;
        animation: openBtm 0.8s forwards; }
  .ferlatti h1 {
    font-size: 2rem; } }

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0px rgba(255, 192, 203, 0.671);
    background: rgba(255, 255, 255, 0.6); }
  to {
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0); } }

@keyframes openTop {
  0% {
    transform: translateY(-5px) rotate(0deg); }
  50% {
    transform: translateY(0px) rotate(0deg); }
  100% {
    transform: translateY(0px) rotate(90deg); } }

@keyframes closedTop {
  0% {
    transform: translateY(-5px) rotate(0deg); }
  50% {
    transform: translateY(0px) rotate(0deg); }
  100% {
    transform: translateY(0px) rotate(90deg); } }

@keyframes openMid {
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(45deg); } }

@keyframes closedMid {
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(45deg); } }

@keyframes openBtm {
  0% {
    transform: translateY(5px) rotate(0deg); }
  50% {
    transform: translateY(0px) rotate(0deg); }
  100% {
    transform: translateY(0px) rotate(90deg); } }

@keyframes closedBtm {
  0% {
    transform: translateY(5px) rotate(0deg); }
  50% {
    transform: translateY(0px) rotate(0deg); }
  100% {
    transform: translateY(0px) rotate(90deg); } }

.about {
  padding: 1.5rem; }
  .about .row {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: space-between; }
    .about .row .col1 {
      position: relative;
      background-color: #FAF1D6;
      width: 57.5rem; }
      .about .row .col1 .tt {
        color: #000;
        font-size: 2em;
        font-weight: 400;
        text-align: center; }
      .about .row .col1 .contain-t {
        padding: 9rem; }
    .about .row .col2 {
      position: relative;
      width: 30.5rem; }
      .about .row .col2 .img1 {
        position: relative;
        width: 100%;
        height: 100%; }
        .about .row .col2 .img1 img {
          position: absolute;
          top: 0;
          left: 0;
          width: 28rem;
          height: 100%;
          object-fit: cover; }

.container-img {
  width: 100%;
  max-width: 120rem;
  margin-top: 1.5rem;
  padding: 0 1.5rem; }
  .container-img .img-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 'img-sec2 img-sec3 img-sec4'; }
    .container-img .img-gallery a {
      width: 100%;
      height: 35rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center; }
    .container-img .img-gallery a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0;
      transition: opacity .5s; }
    .container-img .img-gallery a:hover i,
    .container-img .img-gallery a:hover::before {
      opacity: 1; }
    .container-img .img-gallery i {
      position: relative;
      z-index: 100;
      padding: 1rem 3rem;
      border: 2px solid #FADEE1;
      border-radius: .4rem;
      opacity: 0;
      transition: opacity .5s; }
  .container-img .img-sec2 {
    grid-area: img-sec2;
    background-image: url(../img/animalcake.jpg); }
  .container-img .img-sec3 {
    grid-area: img-sec3;
    background-image: url(../img/cami.jpg); }
  .container-img .img-sec4 {
    grid-area: img-sec4;
    background-image: url(../img/mcrviolet.jpeg); }
  @media screen and (max-width: 900px) {
    .container-img .img-gallery {
      grid-template-areas: 'img-sec2 img-sec3 img-sec4'; } }
  @media screen and (max-width: 600px) {
    .container-img .img-gallery {
      grid-template-areas: 'img-sec2 img-sec2 img-sec2' 'img-sec3 img-sec3 img-sec3' 'img-sec4 img-sec4 img-sec4'; } }

.tt-2 {
  text-align: center;
  font-size: 1.875rem;
  font-weight: 400;
  margin-top: 5rem; }

.carousel {
  min-height: 33.25rem; }
  .carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 31.25rem;
    height: 33.25rem; }
    .carousel .carousel-item .linea-division {
      width: 80%;
      height: 0.125rem;
      background-color: #36221c; }
  .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px; }
  .carousel .indicators .indicator-item {
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 15px;
    background: #36221c; }

.tt3 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-top: 500px;
  margin-bottom: 20px; }

.container-ig {
  width: 70%;
  min-width: auto;
  margin: auto;
  padding: 0 2.5rem;
  margin-bottom: 20px; }
  .container-ig .img-ig {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 'img1 img2 img3 img3' 'img1 img4 img5 img6' 'img7 img7 img8 img6'; }
  .container-ig img {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px; }
  .container-ig .img1 {
    grid-area: img1;
    min-height: 51.5rem;
    background-image: url(../img/img1.jpeg); }
  .container-ig .img2 {
    grid-area: img2;
    background-image: url(../img/img2.jpeg); }
  .container-ig .img3 {
    grid-area: img3;
    background-image: url(../img/img3.jpg); }
  .container-ig .img4 {
    grid-area: img4;
    background-image: url(../img/img4.jpg); }
  .container-ig .img5 {
    grid-area: img5;
    background-image: url(../img/img5.jpg); }
  .container-ig .img6 {
    grid-area: img6;
    min-height: 51.5rem;
    background-image: url(../img/img6.jpg); }
  .container-ig .img7 {
    grid-area: img7;
    background-image: url(../img/img7.jpg); }
  .container-ig .img8 {
    grid-area: img8;
    background-image: url(../img/img8.jpg); }

@media screen and (max-width: 900px) {
  .img-ig {
    grid-template-areas: 'img1 img1 img2 img2' 'img1 img4 img3 img3' 'img4 img4 img5 img5' 'img6 img7 img7 img7' 'img8 img8 img8 img8'; }
  .img1 {
    min-height: 41.5rem; }
  .img6 {
    min-height: 20rem; } }

@media screen and (max-width: 600px) {
  .img-ig {
    grid-template-areas: 'img1 img1 img1 img1' 'img2 img2 img2 img2' 'img3 img3 img3 img3' 'img4 img4 img4 img4' 'img5 img5 img5 img5' 'img6 img6 img6 img6' 'img7 img7 img7 img7' 'img8 img8 img8 img8'; }
  .img1,
  .img6 {
    min-height: 30rem;
    height: 30rem; } }

.tittle-suscribe {
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #000; }

input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-left: 28%; }

.footer {
  background-color: #FADEE1;
  padding: 70px 0;
  margin-top: 10px; }
  .footer .footer-container {
    max-width: 1170px;
    margin: auto; }
    .footer .footer-container .row {
      display: flex;
      flex-wrap: wrap; }
    .footer .footer-container ul {
      list-style: none; }
    .footer .footer-container .footer-col {
      width: 25%;
      padding: 0 15px; }
      .footer .footer-container .footer-col h4 {
        font-size: 18px;
        color: black;
        text-transform: capitalize;
        margin-bottom: 30px;
        font-weight: 500;
        position: relative; }
      .footer .footer-container .footer-col h4::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #e91963;
        height: 2px;
        box-sizing: border-box;
        width: 50px; }
      .footer .footer-container .footer-col ul li::not(:last-child) {
        margin-bottom: 10px; }
      .footer .footer-container .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: black;
        text-decoration: none;
        font-weight: 400;
        display: block;
        transition: all 0.3s ease; }
      .footer .footer-container .footer-col ul li a:hover {
        color: #e91963;
        padding-left: 10px; }
      .footer .footer-container .footer-col .social-links a {
        display: inline-block;
        height: 48px;
        width: 48px;
        background-color: rgba(255, 255, 255, 0.459);
        margin-right: 5px;
        margin: 0px 5px 5px 0;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        color: black;
        transition: all 0.5s ease;
        font-size: 30px; }
      .footer .footer-container .footer-col .social-links a:hover {
        color: #e91963;
        background-color: #ffffff; }

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    padding: 30px; } }

@media (max-width: 574px) {
  .footer-col {
    width: 100%; } }

aside {
  width: 100%;
  min-width: 75rem;
  text-align: center;
  padding-top: 30px;
  padding: 70px;
  background-image: url(../img/marmol.jpg); }
  aside h2 {
    margin-top: 80px;
    font-size: 30px; }
  aside .container-testimonios {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px; }
    aside .container-testimonios .testimonios {
      width: 21.25rem;
      margin: 20px;
      background: rgba(201, 147, 158, 0.492);
      padding: 20px;
      text-align: center; }
      aside .container-testimonios .testimonios h3 {
        margin-top: -40px;
        font-size: 20px; }
      aside .container-testimonios .testimonios h5 {
        margin-top: 10px;
        font-size: 16px; }
      aside .container-testimonios .testimonios p {
        margin-top: 10px; }
      aside .container-testimonios .testimonios .photo-perfil1,
      aside .container-testimonios .testimonios .photo-perfil2,
      aside .container-testimonios .testimonios .photo-perfil3 {
        margin: auto;
        width: 130px;
        height: 130px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        position: relative;
        top: -60px; }
      aside .container-testimonios .testimonios .photo-perfil1 {
        background-image: url(../img/Mirtha.jpg);
        background-size: cover; }
      aside .container-testimonios .testimonios .photo-perfil2 {
        background-image: url(../img/Claudio.jpg);
        background-size: cover; }
      aside .container-testimonios .testimonios .photo-perfil3 {
        background-image: url(../img/Micaela.jpg);
        background-size: cover; }
      aside .container-testimonios .testimonios .container-redes {
        margin-top: 20px; }
        aside .container-testimonios .testimonios .container-redes label {
          font-size: 40px; }
        aside .container-testimonios .testimonios .container-redes .ion-logo-facebook {
          color: #0148ba; }
        aside .container-testimonios .testimonios .container-redes .ion-logo-instagram {
          color: #ff12c4; }
        aside .container-testimonios .testimonios .container-redes .ion-logo-twitter {
          color: #007bc7; }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400; }

.container {
  width: 80%;
  margin: 2rem auto; }
  .container p {
    margin: 1rem 0; }
