.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../img/contactBg.png);
    background-size: cover;

    .content-1 {
        max-width: 800px;
        text-align: center;

        h2 {
            font-size: 40px;
            font-weight: 500;
            color: #fff;
        }

        p {
            font-weight: 300;
            color: #fff;
        }

        .container-c {
            width: 100%;
            display: flex;
            justify-content: left;
            align-items: left;
            margin-top: 30px;

            .contactInfo {
                width: 50%;
                display: flex;
                flex-direction: column;

                h3 {
                    font-size: 27px;
                    font-weight: 500;
                    color: #e91963;
                }

                .box {
                    position: relative;
                    padding: 20px 0;
                    display: flex;

                    .icon {
                        min-width: 40px;
                        height: 40px;
                        background: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        font-size: 22px;
                        margin-top: 25px;
                    }

                    .text {
                        display: flex;
                        text-align: left;
                        margin-left: 10px;
                        font-size: 16px;
                        color: #fff;
                        flex-direction: column;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .contact {
        padding: 50px;

        .container-c {
            flex-direction: column;

            .contactInfo {
                margin-bottom: 40px;
            }

            .contactInfo,
            .form {
                width: 100%;
            }
        }
    }
}