.main-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.0625rem;
    width: 100vw;
    padding: 0 3vw;
    color: #000;
    z-index: 1;
    transition: .4s ease-out;

    .logo {
        font-weight: 800;
        font-size: 1.875rem;
        padding: auto;

        a {
            text-decoration: none;
            color: inherit;
            text-transform: uppercase;
        }
    }

    .nav-links {
        display: flex;
        list-style: none;
        font-size: 18px;
        font-weight: 400;

        .nav-link {
            transition:
                opacity .4s ease-in-out,
                transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &:nth-of-type(2) {
                transition-delay: .1s;
            }

            &:nth-of-type(3) {
                transition-delay: .2s;
            }

            &:nth-of-type(4) {
                transition-delay: .3s;
            }

            &:nth-of-type(5) {
                transition-delay: .4s;
            }

            a {
                margin: 0.2rem;
                padding: 1rem .5rem;
            }

            a:hover {
                background: rgba(255, 255, 255, 0.529);
            }

            a {
                text-decoration: none;
                color: inherit;
                text-transform: uppercase;
            }
        }
    }

    .menu-btn {
        position: absolute;
        top: -6.25rem;

        &:focus~.menu-icon {
            .menu-icon__line {
                &::before {
                    transform: translateY(-0.4375rem);
                }

                &::after {
                    transform: translateY(0.4375rem);
                }
            }
        }
    }

    .menu-icon {
        position: relative;
        padding: 1.625rem 0.625rem;
        cursor: pointer;
        z-index: 1;
        display: none;

        &__line {
            display: block;
            position: relative;
            background: #000;
            height: 0.125rem;
            width: 1.25rem;
            border-radius: 0.25rem;
            transition: background .8s ease;

            &::before,
            &::after {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 0.25rem;
                background: #000;
                transition: background .8s ease;
            }

            &::before {
                transform: translateY(-0.3125rem);
            }

            &::after {
                transform: translateY(0.3125rem);
            }
        }
    }

    &.scrolled {
        height: 3.125rem;
        background: #FADEE1;
        color: #000;

        .menu-icon {

            &__line,
            &__line::before,
            &__line::after {
                background: #000;
            }
        }
    }
}