aside {
    width: 100%;
    text-align: center;
    padding: 70px;
    padding-top: 15px;
    margin-top: 40px;
    background-image: url(../img/marmol.jpg);
    margin: auto;

    h2 {
        margin-top: 80px;
        font-size: 30px;
        position: relative;
    }

    .container-testimonios {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        flex-wrap: wrap;

        .testimonios {
            width: 21.25rem;
            margin: 20px;
            background: #ffcdd4;
            padding: 20px;
            text-align: center;
            box-shadow: 0px 0px 30px -6px black;


            h3 {
                margin-top: -40px;
                font-size: 20px;
            }

            h5 {
                margin-top: 10px;
                font-size: 16px;
                font-weight: 400;
                color: #545454;
            }

            p {
                margin-top: 10px;
                font-weight: 100;
                color: black;
            }

            .photo-perfil1,
            .photo-perfil2,
            .photo-perfil3 {
                margin: auto;
                width: 130px;
                height: 130px;
                background-position: center;
                background-size: cover;
                border-radius: 50%;
                position: relative;
                top: -60px;
                box-shadow: 0px 0px 30px -6px black;
            }

            .photo-perfil1 {
                background-image: url(../img/Mirtha.jpg);
                background-size: cover;
            }

            .photo-perfil2 {
                background-image: url(../img/Claudio.jpg);
                background-size: cover;
            }

            .photo-perfil3 {
                background-image: url(../img/Micaela.jpg);
                background-size: cover;
            }

            .container-redes {
                margin-top: 20px;

                label {
                    font-size: 40px;
                }

                .ion-logo-facebook {
                    color: #0148ba;
                }

                .ion-logo-instagram {
                    color: #ff12c4;
                }

                .ion-logo-twitter {
                    color: #007bc7;
                }
            }
        }
    }
}